.file-picker-item:hover .file-picker-remove-btn {
	display: flex;
}

.file-picker-item .file-picker-item-pdf {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.color-shadow {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}