# support for non-compatible babel-eslint version
SKIP_PREFLIGHT_CHECK=true

GENERATE_SOURCEMAP=false

#re-generate token before start on local
REACT_APP_USER_ID=VXNlcjozNA==
REACT_APP_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2dpblVzZXJUeXBlIjoiVXNlciIsImlkIjozNCwiaWF0IjoxNjY5ODc3MjU1LCJleHAiOjE2Njk5MjA0NTUsImlzcyI6InBvcy9hcGkifQ.ok9NIpDZw-WcUY0vCYliN8BjQhEtEedGg82xIw7guTI
REACT_APP_API_ENDPOINT=http://localhost:8003/graphql
REACT_APP_KQS_HTTPS_ENDPOINT=http://localhost:3000
REACT_APP_TODO_HTTP_ENDPOINT=http://localhost:8003
REACT_APP_TODO_GRAPHQL_ENDPOINT=http://localhost:8003/graphql
REACT_APP_TODO_WEBSOCKET_ENDPOINT=ws://localhost:8003/graphql
REACT_APP_KQS_SHARE_LINK=http://localhost:3000/gantt_chart/share
REACT_APP_EXPORT_SERVER_HOST=localhost:8003
REACT_APP_RECAPTCHA_KEY=6LcVeaolAAAAABG-Ls9SvD1KUA3EIx6SZZnhgyaZ
REACT_APP_RECAPTCHA_DISABLE=true
REACT_APP_HOST_TYPE="development"
REACT_APP_WEBSITE_TITLE="KQS-CMS-DEV"

#setup App.js for local
# const REACT_APP_USER_ID = process.env.REACT_APP_USER_ID
# const REACT_APP_TOKEN = process.env.REACT_APP_TOKEN;
# const REACT_APP_KQS_HTTPS_ENDPOINT = process.env.REACT_APP_KQS_HTTPS_ENDPOINT;
# const REACT_APP_TODO_HTTP_ENDPOINT = process.env.REACT_APP_TODO_HTTP_ENDPOINT;
# const REACT_APP_TODO_GRAPHQL_ENDPOINT = process.env.REACT_APP_TODO_GRAPHQL_ENDPOINT;
# const REACT_APP_TODO_WEBSOCKET_ENDPOINT= process.env.REACT_APP_TODO_WEBSOCKET_ENDPOINT;
# const REACT_APP_KQS_SHARE_LINK = process.env.REACT_APP_KQS_SHARE_LINK;
# const REACT_APP_EXPORT_SERVER_HOST = process.env.REACT_APP_EXPORT_SERVER_HOST;
# const REACT_APP_RECAPTCHA_KEY = process.env.REACT_APP_RECAPTCHA_KEY;
# const REACT_APP_RECAPTCHA_DISABLE = process.env.REACT_APP_RECAPTCHA_DISABLE;
# const REACT_APP_HOST_TYPE= process.env.REACT_APP_HOST_TYPE;
# const REACT_APP_WEBSITE_TITLE= process.env.REACT_APP_WEBSITE_TITLE;
# const projectName = 'test';
