# support for non-compatible babel-eslint version
SKIP_PREFLIGHT_CHECK=true

GENERATE_SOURCEMAP=false

REACT_APP_TOKEN=
REACT_APP_API_ENDPOINT=http://localhost:8003/graphql
REACT_APP_KQS_HTTPS_ENDPOINT=http://localhost:5000
REACT_APP_TODO_HTTP_ENDPOINT=http://localhost:8003
REACT_APP_TODO_GRAPHQL_ENDPOINT=http://localhost:8003/graphql
REACT_APP_TODO_WEBSOCKET_ENDPOINT=ws://localhost:8003/graphql
REACT_APP_KQS_SHARE_LINK=http://localhost:5000/cms/gantt_chart/share
REACT_APP_EXPORT_SERVER_HOST=localhost:8003
REACT_APP_RECAPTCHA_KEY=
REACT_APP_RECAPTCHA_DISABLE=true
REACT_APP_HOST_TYPE="development"
REACT_APP_WEBSITE_TITLE="KQS-CMS"
REACT_APP_GOOLE_CLINET_ID="751874718363-4vgi2hcf1k4fs3cdgvaqqce60pic5f76.apps.googleusercontent.com"