# support for non-compatible babel-eslint version
SKIP_PREFLIGHT_CHECK=true

GENERATE_SOURCEMAP=false

REACT_APP_TOKEN=
REACT_APP_API_ENDPOINT=http://localhost:3001/graphql
REACT_APP_KQS_HTTPS_ENDPOINT=http://localhost:3000
REACT_APP_TODO_HTTP_ENDPOINT=http://localhost:3001
REACT_APP_TODO_GRAPHQL_ENDPOINT=http://localhost:3001/graphql
REACT_APP_TODO_WEBSOCKET_ENDPOINT=ws://localhost:3001/graphql
REACT_APP_KQS_SHARE_LINK=http://localhost:3000/cms/gantt_chart/share
REACT_APP_EXPORT_SERVER_HOST=localhost:3001